/* Reset General */
body {
  background: azure;
  font-family: miFuente;
  font-size: 100%;
}

/* Estilos google para el input */
.label {
  margin-top: 25px;
  margin-left: 20px;
  display: grid;
  width: 200px;
  padding: 5px 0px;
  font-size: 1em;
  grid-template-areas: "input";

  > * {
    grid-area: input;
  }

}

.label__span {
  transform-origin: left;
  transition: transform 0.5s color 0.5s;
  padding: 8px 0 0 0px;
  font-size: 0.98em;
  color: #7b7f83;
}

.label__input {
  height: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #054a8f;
  background: azure;
  font-size: 0.9em;
}

.label__input:focus + .label__span,
.label__input:not(:placeholder-shown) + .label__span,
.label__input:not(:placeholder-shown) + .label__span:focus-within {
  color: #2b6fb3;
  font-weight: 500;
  transform: translate(0, -100%) scale(1);
}
